body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

#gameCanvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    background-color: #00f; /* Azul */
    border: 1px solid #fff;
}
